<extend name="Base/common"/>
<!-- header start -->
<block name="header">
<!--
  <div class="header">
      <h1 class="page-title">图书管理</h1>
  </div>

  <ul class="breadcrumb">
    <li><a href="index.html">首页</a> <span class="divider">/</span></li>
    <li class="active">图书列表</li>
  </ul>
-->
<!-- title -->
    <h3><a href="index.html">首页</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">我的图书馆</a></h3>

</block>
<!-- header  -->

<block name="content">
	 <!-- 左侧侧边栏 -->
        <dl class="content-left">
            <include file="PrivateLibrary/navbar"/>
        </dl>
        <!-- 右侧内容区 -->
        <div class="content-right">         
            <h2>
                <a id="login_folds" class="noaction" href="{:U('PrivateLibrary/LendBook')}">借书</a>
                <a id="register_folds"  href="{:U('PrivateLibrary/AlsoBook')}">还书</a>
            </h2>
            <div style="margin:20px 0px;">
              <div class="well">
                  <table class="table">
                      <thead>
                          <tr>
                            <th>图书名字</th>
                            <th>图书IBIN码</th>
                            <th>借出时间</th>
                            <th>违约时间</th>
                            <th>状态</th>
                            <th style="width: 80px;">操作</th>
                          </tr>
                      </thead>
                      <tbody id ="book-tbdoy">
                        <notempty name="list">
                          <volist name="list" id="order">
                            <tr>
                              <td>{$order.bookname}</td>
                              <td>{$order.isbn}</td>
                              <td>{$order.borrowtime|date='Y-m-d H:i',###}</td>            
                              <td>{$order.endttime|date='Y-m-d H:i',###}</td>
                              <td>
                                <switch name="order.status">
                                  <case value="0"><b style="color: #FF0000;">已过期</b></case>
                                  <case value="1"><b style="color: #012AFF;">借阅中</b></case>
                                  <case value="2"><b style="color: #43FF08;">已还回</b></case>
                                  <case value="3"><b style="color: #012AFF;">借出审核中</b></case>
                                  <case value="4"><b style="color: #012AFF;">还回审核中</b></case>
                                  <default />未知状态
                                </switch>
                              </td>
                              <td>
                                <a href="" onclick="lendpost(this)" title="还书" data-value="{$order.id}" data-bookid="{$order.bookid}" class="btn btn-success btn-sm">还书</a>
                              </td>
                            </tr>
                          </volist>
                                      
                          <else/>
                          <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
                        </notempty>
                      </tbody>
                  </table>
              </div>
              <div class="pagination">
                {$_page}
              </div>
        </div>
        </div>
</block>

<block name="script">
    <script src="{:C('DOMAIN')}__JS__/Validform_v5.3.2_min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function lendpost(event){
          $.Showmsg('正在还书，请稍后！');
          
          var alsoid = $(event).attr('data-value');
          var bookid = $(event).attr('data-bookid');
          $.post("{:U('PrivateLibrary/AlsoBook')}",
            {
              alsoid:alsoid,
              bookid:bookid
            },
            function(data,status){
              $.Hidemsg();
              if(data.status =="1" ){
                $.Showmsg(data.info);
                 setTimeout(function(){$.Hidemsg(); },1500);
              }
              else{
                $.Showmsg(data.info);
                 setTimeout(function(){$.Hidemsg(); },1500);
              }
            });
        }  
    </script>
</block>