<extend name="Base/common"/>
<!-- header start -->
<block name="header">

<!-- title -->
    <h3><a href="index.html">首页</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">服务</a></h3>

</block>
<!-- header  -->

<block name="content">
	 <!-- 左侧侧边栏 -->
        <dl class="content-left">
            <dt>服务</dt>
            <dd><a href="javascript:void(0)">入馆指南</a></dd>
            <dd><a href="javascript:void(0)">学位论文提交</a></dd>
            <dd><a href="javascript:void(0)">讲座培训</a></dd>
            <dd><a href="javascript:void(0)">投稿指南</a></dd>
            <dd><a href="javascript:void(0)">学科服务</a></dd>
            <dd><a href="javascript:void(0)">文献传递</a></dd>
            <dd><a href="javascript:void(0)">VPN服务</a></dd>
            <dd><a href="javascript:void(0)">信息咨询</a></dd>
            <dd><a href="javascript:void(0)">研究室预约</a></dd>
            <dd><a href="javascript:void(0)">文件下载</a></dd>
            <dd><a href="javascript:void(0)">阅读推荐</a></dd>
            <dd><a href="javascript:void(0)">失物招领</a></dd>
        </dl>
        <!-- 右侧内容区 -->
        <div class="content-right">         
            <h2><a href="javascript:void(0)">入馆指南</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <li><a href="javascript:void(0)">馆藏布局</a><span>03-18</span></li>
                <li><a href="javascript:void(0)">借阅规则</a><span>09-03</span></li>
                <li><a href="javascript:void(0)">馆藏布局</a><span>09-03</span></li>
                <li><a href="javascript:void(0)">开放时间</a><span>09-03</span></li>
            </ul>
            <h2><a href="javascript:void(0)">讲座培训</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <li><a href="javascript:void(0)">大连大学Springer培训讲座</a><span>09-18</span></li>
                <li><a href="javascript:void(0)">SCI数据库讲座</a><span>09-13</span></li>
                <li><a href="javascript:void(0)">高校IEL数据库培训-2015下半年</a><span>09-03</span></li>
                <li><a href="javascript:void(0)">图书馆讲座通知</a><span>10-03</span></li>
                <li><a href="javascript:void(0)">2015新生（本科生）“怎样利用图书馆”培训讲座</a><span>09-11</span></li>
            </ul>
            <h2><a href="javascript:void(0)">投稿指南</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <li><a href="javascript:void(0)">CSSCI来源集刊（2008－2011年）</a><span>03-06</span></li>
                <li><a href="javascript:void(0)">CSSCI（2008-2009）来源期刊目录(528种)</a><span>09-23</span></li>
                <li><a href="javascript:void(0)">CSSCI来源期刊(2006-2007)（共493种）</a><span>11-03</span></li>
                <li><a href="javascript:void(0)">中文社会科学引文索引（2004-2005）来源期刊目录</a><span>08-23</span></li>
                <li><a href="javascript:void(0)">中文社会科学引文索引（2003）来源期刊目录（共418种）</a><span>07-19</span></li>
                <li><a href="javascript:void(0)">《中文社会科学引文索引》(CSSCI) 扩展版来源期刊(2010-2011)</a><span>06-10</span></li>
            </ul>
            <h2><a href="javascript:void(0)">文件下载</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <li><a href="javascript:void(0)">大连大学图书馆电子培训室使用管理制度</a><span>03-18</span></li>
                <li><a href="javascript:void(0)">关于图书馆LED、发布机、网站等电子设备使用须知</a><span>09-03</span></li>
                <li><a href="javascript:void(0)">联创自助打印复印客户端驱动下载</a><span>09-22</span></li>
                <li><a href="javascript:void(0)">大连大学图书馆报告厅使用管理制度</a><span>10-03</span></li>
                <li><a href="javascript:void(0)">资料室管理规则</a><span>07-03</span></li>
                <li><a href="javascript:void(0)">《教学、行政及科研部门校有图书等文献资料购置管理规定》</a><span>06-15</span></li>
            </ul>
            <h2><a href="javascript:void(0)">阅读推荐</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <li><a href="javascript:void(0)">红高粱</a><span>07-18</span></li>
                <li><a href="javascript:void(0)">丰乳肥臀</a><span>09-13</span></li>
            </ul>
        </div>
</block>