<extend name="Base/common"/>
<!-- header start -->
<block name="header">

<!-- title -->
    <h3><a href="index.html">首页</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0)">服务</a></h3>

</block>
<!-- header  -->

<block name="content">
	 <!-- 左侧侧边栏 -->
        <dl class="content-left">
            <dt>服务</dt>
            <dd><a href="{:U('Server/BookRetrieval')}" >书籍搜索</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>13))}" >学位论文提交</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>14))}">学科服务</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>17))}">VPN服务</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>15))}">信息咨询</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>12))}">自习室预约</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>16))}">阅读推荐</a></dd>
            <dd><a href="{:U('Server/ShowArticle',array('id'=>11))}">失物招领</a></dd>
        </dl>
        <!-- 右侧内容区 -->
        <div class="content-right">         
            <h2><a href="javascript:void(0)">入馆指南</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <volist name="rgzn" id="vo">
                    <li><a href="{:U('Server/ShowArticle',array('id'=>$vo['id']))}">{$vo.title}</a><span>{$vo.createtime|date='m-d',###}</span></li>
                </volist>
            </ul>
            <h2><a href="javascript:void(0)">讲座培训</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <volist name="jzpx" id="vo">
                    <li><a href="{:U('Server/ShowArticle',array('id'=>$vo['id']))}">{$vo.title}</a><span>{$vo.createtime|date='m-d',###}</span></li>
                </volist>
            </ul>
            <h2><a href="javascript:void(0)">投稿指南</a><span class="fold">折叠</span></h2>
            <ul class="content">
                <volist name="tgzn" id="vo">
                    <li><a href="{:U('Server/ShowArticle',array('id'=>$vo['id']))}">{$vo.title}</a><span>{$vo.createtime|date='m-d',###}</span></li>
                </volist>
            </ul>
        </div>
</block>