<!-- 侧边导航栏 -->

    <!-- 侧边栏导航 start  -->
    <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>图书管理系统</a>
        <ul id="dashboard-menu" class=<eq name="menuTab" value="dashboard-menu">"nav nav-list collapse in"<else/>"nav nav-list collapse"</eq>>
            <li class=<eq name="pageTab" value="pageWZPZ">"active"<else/>""</eq>><a href="{:U('Admin/Config/index')}">首页</a></li>
        </ul>

        <a href="#user-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>用户管理<i class="icon-chevron-up"></i></a>
        <ul id="user-menu" class=<eq name="menuTab" value="user-menu">"nav nav-list collapse in"<else/>"nav nav-list collapse"</eq>>
            <li class=<eq name="pageTab" value="pageDZGL">"active"<else/>""</eq>><a href="{:U('Admin/Usermanage/ReadersList')}">读者管理</a></li>
            <li class=<eq name="pageTab" value="pageGLYGL">"active"<else/>""</eq>><a href="{:U('Admin/Usermanage/AdministratorList')}">管理员管理</a></li>
        </ul>

        <a href="#books-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>图书管理<i class="icon-chevron-up"></i></a>
        <ul id="books-menu" class=<eq name="menuTab" value="books-menu">"nav nav-list collapse in"<else/>"nav nav-list collapse"</eq>>
            <li class=<eq name="pageTab" value="pageTSLX">"active"<else/>""</eq>><a href="{:U('Admin/Bookmanage/bookstyle')}">图书类型</a></li>
            <li class=<eq name="pageTab" value="pageCBS">"active"<else/>""</eq>><a href="{:U('Admin/Bookmanage/presslist')}">出版社列表</a></li>
            <li class=<eq name="pageTab" value="pageTSLB">"active"<else/>""</eq>><a href="{:U('Admin/Bookmanage/booklist')}">图书列表</a></li>
            <li style="" class=<eq name="pageTab" value="pageJHSH">"active"<else/>""</eq>><a href="{:U('Admin/Bookmanage/bookcheck')}">借还记录</a></li>
        </ul>

        <a href="#rich-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>文章管理<i class="icon-chevron-up"></i></a>
        <ul id="rich-menu" class=<eq name="menuTab" value="rich-menu">"nav nav-list collapse in"<else/>"nav nav-list collapse"</eq>>
            <li class=<eq name="pageTab" value="pageWZFL">"active"<else/>""</eq>>
                <a href="{:U('Article/ArticleType')}">文章分类</a></li>
            <li class=<eq name="pageTab" value="pageWZLB">"active"<else/>""</eq>>
                <a href="{:U('Article/ArticleList')}">文章列表</a></li>
        </ul>

       
        <a href="faq.html" class="nav-header" style="display:none;" ><i class="icon-comment"></i>Faq</a>
    </div>
    <!-- 侧边栏导航 end  -->