<!-- 顶部导航 -->
    <!-- 行导航栏 start -->
        <!-- header start -->
    <header id="header" class="header">
        <div class="header-container">
            <!-- logo -->
            <div class="logo"></div>
            <!-- 一级导航菜单 -->
            <ul class="menu">

                <li class=<eq name="pagetab" value="server">"active"<else/>""</eq>>
                    <a href="{:U('/Server')}" class="service">服务</a>
                    <ul class="sub-menu">
                        <li><a href="javascript:void(0)">入馆指南</a></li>
                        <li><a href="javascript:void(0)">投稿指南</a></li>
                        <li><a href="javascript:void(0)">信息咨询</a></li>
                        <!--
                        <li><a href="javascript:void(0)">自习室预约</a></li>
                        -->
                        <li><a href="javascript:void(0)">通知</a></li>
                        
                        <!--
                        <li><a href="javascript:void(0)">学位论文提交</a></li>
                        <li><a href="javascript:void(0)">讲座培训</a></li>
                        <li><a href="javascript:void(0)">学科服务</a></li>
                        <li><a href="javascript:void(0)">文献传递</a></li>
                        <li><a href="javascript:void(0)">VPN服务</a></li>
                        <li><a href="javascript:void(0)">文件下载</a></li>
                        <li><a href="javascript:void(0)">阅读推荐</a></li>
                        -->
                    </ul>
                </li>
                <li class=<eq name="pagetab" value="Introduce">"active"<else/>""</eq>>
                    <a href="{:U('/Introduce')}" class="survey">概况</a>
                    <ul class="sub-menu">
                        <li><a href="javascript:void(0)">本馆介绍</a></li>
                        <li><a href="javascript:void(0)">分布图示</a></li>
                        <li><a href="javascript:void(0)">馆舍风貌</a></li>
                        <li><a href="javascript:void(0)">工作动态</a></li>
                        <!--
                        <li><a href="javascript:void(0)">部门设置</a></li>
                        <li><a href="javascript:void(0)">应急预案</a></li>
                        -->
                    </ul>
                </li>
                <li class=<eq name="pagetab" value="SpecialLibrary">"active"<else/>""</eq>>
                    <a href="{:U('/SpecialLibrary')}" class="charmlibrary">魅力图书馆</a>
                    <ul class="sub-menu">
                        <li><a href="javascript:void(0)">按时间分类</a></li>
                        <li><a href="javascript:void(0)">按期刊分类</a></li>
                    </ul>
                </li>
                <li class=<eq name="pagetab" value="PrivateLibrary">"active"<else/>""</eq>>
                    <a href="{:U('/PrivateLibrary')}" class="resource">我的图书馆</a>
                    <!-- 二级导航菜单 -->
                    <ul class="sub-menu">
                        <li><a href="javascript:void(0)">登陆/注册</a></li>
                        <li><a href="javascript:void(0)">我的图书馆</a></li>
                        <li><a href="javascript:void(0)">借书/还书</a></li>
                        <li><a href="javascript:void(0)">借阅记录</a></li>
                        
                    </ul>
                </li>

                <li style="display:none;">
                    <a href="javascript:void(0)" class="thinker">思想者</a>
                    <ul class="sub-menu">
                        <li><a href="javascript:void(0)">沁心美文</a></li>
                        <li><a href="javascript:void(0)">名著欣赏</a></li>
                        <li><a href="javascript:void(0)">大爱无疆</a></li>
                        <li><a href="javascript:void(0)">心灵驿站</a></li>
                        <li><a href="javascript:void(0)">阅读指南</a></li>
                        <li><a href="javascript:void(0)">科学沙龙</a></li>
                        <li><a href="javascript:void(0)">文化雨露</a></li>
                        <li><a href="javascript:void(0)">就业指导</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- header end -->
    <!-- 行导航栏 end -->