<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
</head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
<body>
  <!--<![endif]-->
	<!-- 导航 -->
	<include file="Public/navbar"/>
	<!-- /导航 -->
	
	<!-- 侧边栏导航 -->
	<include file="Public/sidebarnav"/>
	<!-- /侧边栏导航 -->

	<!-- 内容 -->
	<include file="Public/content"/>
	<!-- /内容 -->
</body>
</html>