<extend name="Base/common" />
<block name="content">
	
	<div class="header"> 
            <h1 class="page-title">首页</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="">主页</a> <span class="divider">/</span></li>
            <li class="active">欢迎界面</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid"><br/>
            <!--    
                <div class="btn-toolbar">
                    <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
                    <a href="#myModal" data-toggle="modal" class="btn">Delete</a>
                  <div class="btn-group">
                  </div>
                </div>
            -->
		<div class="well">
        欢迎登录 图书管理系统

		</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    
    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
  </div>
</div>

                    
            </div>
        </div>

</block>