<extend name="Base/common"/>

<!-- header start -->
<block name="header">
  <div class="header">
      <h1 class="page-title">文章列表</h1>
  </div>

  <ul class="breadcrumb">
    <li><a href="">首页</a> <span class="divider">/</span></li>
    <li class="active">文章列表</li>
  </ul>
</block>
<!-- header  -->


<block name="content">
<div class="container-fluid">
  <div class="row-fluid">            

    <div class="btn-toolbar">
        <a href="{:U('Admin/Article/AddArticle')}" class="btn btn-primary"><i class="icon-plus"></i>添加文章</a>
        <!--
        <button class="btn">Import</button>
        <button class="btn">Export</button>
      -->
        <div class="btn-group">
        </div>
    </div>
    <div class="well">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 20px;">#</th>
              <th style="width: 140px;">文章标题</th>
              <th style="width: 460px;">文章简介</th>
              <th style="width: 80px;">文章分类</th>
              <th style="width: 140px;">创建时间</th>
              <th style="width: 100px;">操作</th>
            </tr>
          </thead>
          <tbody>
            <notempty name="list">
            <volist name="list" id="order">
              <tr>
                <td>{$i}</td>
                <td>{$order.title}</td>
                <td>{$order.summary}</td>
                <td>{$sort[$order['type']]}</td>               
                <td>{$order.createtime|date='Y-m-d H:i',###}</td>
                <td>
                  <a href="{:U('Admin/Article/EditArticle',array('id'=>$order['id']))}" title="编辑"><i class="icon-pencil"></i></a>&nbsp;&nbsp;&nbsp;
                  <!-- href="#myModal"  -->
                  <a role="button" title="删除"  ><i class="icon-remove" onclick="deletestyle({$order.id})"></i></a>
                </td>
              </tr>
            </volist>
                        
            <else/>
            <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
          </tbody>
        </table>

    </div>
    <div class="pagination">
        {$_page}
    </div>

    <!-- 删除弹窗 -->
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">删除确认</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>你确定要删除此文章</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button id="modal_delete" class="btn btn-danger" data-dismiss="modal">删除</button>
        </div>
    </div>
            
  </div>
</div>
</block>


<block name="script">
  <script>
    function deletestyle(value){
          //显示模态框
          $('#myModal').modal('show');
          $("#modal_delete").on("click",function(){
            //在点击按钮后延迟动作
            setTimeout(function(){
              $.post("{:U('Admin/Article/DeletArticle')}",{ id:value,},
                function(data,status){
                  
                if(data.status=="1"){
                  //$.Hidemsg()公用方法关闭信息提示框;
                  //显示方法是$.Showmsg("message goes here.");
                  $.Showmsg(data.info+'正在跳转，请稍后!');
                  setTimeout(function(){$.Hidemsg();
                      location.href = data.url;},1800);
                }
                else{
                    //$.Hidemsg()公用方法关闭信息提示框;
                    //显示方法是$.Showmsg("message goes here.");
                  $.Showmsg(data.info);
                  setTimeout(function(){$.Hidemsg(); },1800);
                }

                });
            },200);
            });
        }

    //模态窗口关闭后 移除 事件
    $('#myModal').on('hidden.bs.modal', function () {
      // 执行一些动作...
      $("#modal_delete").off("click");
    })
  </script>
</block>